#header {
  padding-top: 35px;
  position: relative;
}
.header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 5;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $mediaS){
    justify-content: left;
  }
}
.header-right {
  display: flex;
  align-items: baseline;
}
.site-branding {
  display: flex;
  align-items: center;
}
.site-branding .site-logo img {
  width: auto;
  max-height: 65px;
}
// for Search

.full-page-search {
  margin-bottom: 10px;
  border-right: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
  padding: 0 12px;
}

.full-page-search .search-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: 999;
}
.full-page-search .search-box-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 70%;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}
.full-page-search .search-box-close {
  position: absolute;
  top: 95px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("svg/cursor.svg");
  background-size: cover;
}
.search-icon .fa-search {
  color: var(--black);
  font-size: var(--font-20);
}
.form-search {
  width: 100%;
  height: 80px;
  padding: 0 20px;
}
.js-form-submit {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  background: var(--color-primary);
  color: var(--white);
}
// end search

// Navbar

// /* Hide the sub-menu by default */
.main-menu {
  display: flex;
}
.submenu {
  display: none;
  position: absolute;
  top: 48px;
  z-index: 1;
  background: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
  padding: 0;
  transition: 0.3s;
}

/* Style the parent menu item when hovered */
.main-menu-item {
  list-style: none;
  padding: 0 22px;
}

/* Show the sub-menu on hover */
.main-menu-item:hover .submenu {
  display: block;
}

/* Style the sub-menu links */
.submenu li {
  display: block;
}

.submenu a {
  color: #333;
  padding: 10px;
  text-decoration: none;
}

.submenu a:hover {
  color: var(--black);
}
.main-menu .main-menu-item a {
  color: var(--black);
  font-size: var(--font-20);
  text-decoration: none;
  font-family: "Roboto";
}

.main-menu .main-menu-item a:hover {
  color: var(--color-primary);
  transition: 0.3s;
}

.main-menu-item a:after {
  bottom: 12px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.main-menu-item a:hover:after {
  width: 100%;
  left: 0;
}
.main-menu-item a {
  color: var(--color-primary);
  text-transform: capitalize;
  text-decoration: none;
  display: inline-block;
  padding: 15px 0;
  position: relative;
}
.main-menu-item .is-active:after {
  bottom: 12;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--color-primary);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.main-menu-item .is-active:after {
  width: 100%;
  left: 0;
}

.dropdown-arrow .fa-angle-down {
  transition: transform 0.4s ease;
}
.main-menu-item:hover .dropdown-arrow .fa-angle-down {
  transform: rotate(180deg);
}

.main-menu-item a.is-active {
  color: var(--color-primary);
}

.user-dropdown{
  position: relative;
}

  .user-menu{
    display: none;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 1;
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style: none;
     width: max-content;
    padding: 5px 25px;
    box-shadow: 0 3px 10px RGB(0 0 0 / 20%);
    @media(max-width: $mediaS){
      left: -70px;
      top: 15px;
    }
  }
  .user-dropdown:hover .user-menu{
    display: block;
  }
  .fa-user{
    position: absolute;
    bottom: -7px;
    left: 18px;
    cursor: pointer;
   
  }
  .user-menu .menu-item a {
      color: var(--black);
      font-size: var(--font-20);
      text-decoration: none;
      font-family: "Roboto";
      max-width: max-content;
    }
 .user-menu .menu-item a:hover {
  color: var(--color-primary);
  transition: 0.3s;
}


.cursor {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 50%;
  background: transparent;
  pointer-events: none;
  z-index: 111;
  border: 1px solid #000;
  transition: all 0.2s ease-out;
  animation: moveCursor1 .5s infinite alternate;
}

.expand {
  background: transparent;
  animation: moveCursor2 .5s forwards;
  border: 1px solid #000;
}

